load_module /usr/lib64/nginx/modules/ngx_stream_module.so;

events {}

stream {
    upstream dns_servers {
        server {{ UPSTREAM_DNS_SERVER }}:53;
    }

    server {
        listen     53 udp;
        proxy_pass dns_servers;
    }
}
